
body{
    background-image: url("../images/off-grey-wall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#heading{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 51px;
}

#subheading{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 30px;
  padding: 0px 8px 0px 8px;
}

#box{
    height: 450px;
    width: 650px;
    margin: 80px auto;
    align-self: center;
    border: 5px black solid;
    border-radius: 2%;
    text-align: center;
    padding: 12px 0px 12px 0px;
    background-color: ecf4f3;
}

button{
  margin: 20px 12px 15px 12px;
  padding: 6px 12px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #00bbff;
  color: white;
  border: none;
  box-shadow: 0 5px #999;
}

button:hover {
    background-color: #007dab;
    transform: scale(1.1);
  }

button:active{
    background-color: #007dab;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #e4e4e4;
  }

a{
    color: black;
    text-decoration:none;
}

a:hover{
    transform:scale3d(1.1);
}

#scoreboard{
  margin-top:15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

#information{
  margin-top:10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

#play-again-btn{
  display: none;
  margin: 20px auto 15px auto;
}

#result{
  font-weight: bolder;
}

